* {
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: "Noto Sans JP", "sans-serif" !important;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #011a3e;
}

h1 {
    font-size: 58px;
    font-weight: 700;
}

h2 {
    font-size: 45px;
    font-weight: 700;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

.header-area .nav-body {
    height: 76.5px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.header-area .nav-body .img-logo {
    height: 50px;
    position: absolute;
    left: 0;
    padding-left: 3%;
}

.header-area .nav-body .nav-item ul .active_link:after {
    content: '';
    position: absolute;
    display: flex;
    width: calc(100% - 20px);
    bottom: 10px;
    height: 3px;
    background: #189a36;
}

.header-area .nav-body .nav-item .main-menu li {
    position: relative;
    display: inline-block;
    margin: 0 20px;
}

.header-area .nav-body .nav-item .main-menu li a {
    display: block;
    color: #76787b;
    padding: 17px 10px;
    font-weight: 500;
    position: relative;
    text-shadow: 0 0 1px #fff, 0 0 1px #fff;
}

.header-area .nav-body .nav-item .main-menu li a:hover {
    color: #189a36;
    box-shadow: 2.5px 4.33px 15px 0 rgb(65 136 6 / 40%);
    border-radius: 8px;
}

@media (max-width: 980px) {
    .header-area .nav-body .nav-item {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 1100px;
    }

    .header-area .nav-body {
        justify-content: space-between;
    }

    .header-area .nav-body .img-logo {
        position: relative;
        padding-left: 0;
    }

    .header-area .nav-body .nav-item {
        float: right;
    }

    .header-area .nav-body .nav-item .main-menu li {
        margin: 0 0 0 40px;
    }

    .header-area .nav-body {
        padding: 0 3%;
    }
}

@media only screen and (max-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}

@media only screen and (max-width: 1600px) {
    .container {
        max-width: 1450px;
    }
}

@media only screen and (min-width: 1900px) {
    .container {
        max-width: 1650px;
    }
}


