* {
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: #7a808d;
    font-size: 15px;
    font-weight: normal;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: #011a3e;
}

h1 {
    font-size: 58px;
    font-weight: 700;
}

h2 {
    font-size: 45px;
    font-weight: 700;
}

h3 {
    font-size: 30px;
    color: #189a36;
    padding-bottom: 10px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

.header-area {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: 500ms;
    background: transparent;
    padding: 0 3%;
    z-index: 100;
}

.header-area .nav-body {
    height: 76.5px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.headerMain-bg {
    background: white;
    -webkit-transition: 500ms;
    box-shadow: 2.5px 4.33px 15px 0 rgb(0 0 0 / 15%);
}

.header-area .nav-body .img-logo {
    height: 50px;
    position: absolute;
    left: 0;
    margin-left: 15px;
}

.header-area .nav-body .nav-item ul .active_link:after {
    content: '';
    position: absolute;
    display: flex;
    width: calc(100% - 20px);
    bottom: 10px;
    height: 3px;
    background: #189a36;
}

.header-area .nav-body .nav-item .main-menu li {
    position: relative;
    display: inline-block;
    margin: 0 20px;
}

.header-area .nav-body .nav-item .main-menu li a {
    display: block;
    color: #76787b;
    padding: 17px 10px;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    text-shadow: 0 0 1px #fff, 0 0 1px #fff;
}

.header-area .nav-body .nav-item .main-menu li a:hover {
    color: #189a36;
    box-shadow: 2.5px 4.33px 15px 0 rgb(65 136 6 / 40%);
    border-radius: 8px;
}

.header-area .nav-body .nav-item .main-menu li a:hover .sub-menu {
    max-height: 170px;
}

.header-area .nav-body .nav-item .main-menu li a .sub-menu {
    display: inline-block;
    position: absolute;
    top: 56px;
    left: 0;
    background-color: white;
    border-radius: 8px;
    width: 170px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    box-shadow: 2.5px 4.33px 15px 0 rgb(0 0 0 / 15%);
}

.header-area .nav-body .nav-item .main-menu li a .sub-menu li {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
}

.header-area .nav-body .nav-item .main-menu li a .sub-menu :nth-of-type(1) {
    padding-top: 10px;
}

.header-area .nav-body .nav-item .main-menu li a .sub-menu :last-child {
    padding-bottom: 10px;
}

.header-area .nav-body .nav-item .main-menu li a .sub-menu li a {
    display: block;
    position: relative;
    color: #76787b;
    padding: 5px 10px !important;
    font-weight: 500;
    text-shadow: 0 0 1px #fff, 0 0 1px #fff;
}

.section_title {
    margin-bottom: 45px;
}

.section_title > div {
    height: 150px;
    box-shadow: 2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.15);
    margin-right: 8px;
    border-radius: 8px;
    /* background-color: #f7f7f7; */
    float: left;
    clear: both;
}

.section_title span {
    font-size: 1.1rem;
    font-weight: 500;
    /* margin-top: 35px; */
    text-align: center;
    /* width: 90px; */
    /* margin-left: 100px; */
    line-height: 160px;
}

.section_title i {
    margin-top: 0;
    font-size: 2rem;
}

.section_title .col-lg-3 .icon {
    max-width: 90px;
    float: left;
}

.section_title h2 {
    margin-bottom: 14px;
    position: relative;
    padding-right: 45px;
}

.reinfo_experience {
    overflow: hidden;
    padding: 30px 3%;
}

.reinfo_experience .section_title h2 {
    position: relative;
}

.reinfo_experience .section_title h2:after {
    left: 80px;
}

.reinfo_experience .single_experience {
    margin-bottom: 55px;
}

.reinfo_experience .single_experience:last-child {
    margin-bottom: 0;
}

.reinfo_experience .single_experience:last-child .icon:before {
    display: none;
}

.reinfo_experience .single_experience:nth-child(even) .reinfo_info_box {
    text-align: right;
}

.reinfo_experience .single_experience .align-items-center {
    justify-content: center;
}

.reinfo_experience .single_experience .align-items-center .num-mid {
    position: absolute;
}

.reinfo_experience .single_experience .align-items-center .time-line-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reinfo_experience .single_experience .icon {
    position: relative;
    width: 75px;
    height: 75px;
    text-align: center;
    border-radius: 50%;
    background-image: -moz-linear-gradient(180deg, #7bc979 0%, #189a36 100%);
    background-image: -webkit-linear-gradient(180deg, #7bc979 0%, #189a36 100%);
    background-image: -ms-linear-gradient(180deg, #7bc979 0%, #189a36 100%);
    box-shadow: 2.5px 4.33px 15px 0 rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    padding-top: 17px;
}

.reinfo_experience .single_experience .icon:before {
    content: '';
    position: absolute;
    top: 0;
    left: 35px;
    border: 2px dashed #9fa4ab;
    width: 0;
    height: 302px;
    z-index: -1;
}

.reinfo_experience .single_experience .icon:after {
    content: '';
    background-image: -moz-linear-gradient(180deg, #7bc979 0%, #189a36 100%);
    background-image: -webkit-linear-gradient(180deg, #7bc979 0%, #189a36 100%);
    background-image: -ms-linear-gradient(180deg, #7bc979 0%, #189a36 100%);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    opacity: 0.302;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -55px;
    margin-left: -55px;
}

.reinfo_experience .single_experience .icon h3 {
    font-size: 35px;
    color: #fff;
    font-weight: 600;
}

.reinfo_experience .single_experience .reinfo_text_box {
    position: relative;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2.5px 4.33px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.reinfo_experience .single_experience .reinfo_text_box:hover {
    background-image: -moz-linear-gradient(180deg, #7bc979 0%, #189a36 100%);
    background-image: -webkit-linear-gradient(180deg, #7bc979 0%, #189a36 100%);
    background-image: -ms-linear-gradient(180deg, #7bc979 0%, #189a36 100%);
    box-shadow: 2.5px 4.33px 15px 0 #189a36;
}

.reinfo_experience .single_experience .reinfo_text_box:hover p {
    color: #fff;
}

.reinfo_experience .single_experience .reinfo_info_box h4 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.reinfo_experience .single_experience .reinfo_info_box h5 {
    color: #7f8693;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 15px;
}

.reinfo_experience .single_experience .reinfo_info_box h6 {
    font-size: 20px;
    color: #189a36;
    font-weight: 600;
}

.reinfo_btn {
    display: inline-block;
    min-width: 130px;
    height: 45px;
    color: #fff;
    font: 500 15px 'Poppins', sans-serif;
    text-align: center;
    background: #189a36;
    line-height: 45px;
    border-radius: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.reinfo_about {
    overflow: hidden;
    padding: 30px 3%;
}

.reinfo_about .reinfo_content_box {
    margin-left: 20px;
}

.reinfo_about .reinfo_content_box h2 {
    margin-bottom: 0;
    position: relative;
}

.reinfo_about .reinfo_content_box p {
    padding-bottom: 20px;
}

.reinfo_about .reinfo_content_box .reinfo_btn {
    margin-top: 20px;
    min-width: 155px;
}

.reinfo_news {
    overflow: hidden;
    padding: 30px 3%;
}

.reinfo_cta {
    padding: 30px 3%;
}

.reinfo_cta .cta_wrapper {
    padding: 45px 50px 42px;
    max-width: 970px;
    border-radius: 15px;
    margin: auto;
    position: relative;
    background-image: -moz-linear-gradient(0deg, #7bc979 0%, #189a36 100%);
    background-image: -webkit-linear-gradient(0deg, #7bc979 0%, #189a36 100%);
    background-image: -ms-linear-gradient(0deg, #7bc979 0%, #189a36 100%);
    box-shadow: 2.5px 4.33px 15px 0 rgba(65, 136, 6, 0.4);
    z-index: 1;
}

.reinfo_cta .cta_wrapper:after {
    content: '';
    background: url(../images/shape/cta_shape.png) no-repeat bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.reinfo_cta .cta_wrapper .cta_content h3 {
    color: #fff;
    font-weight: bold;
}

.reinfo_cta .cta_wrapper .cta_content h3:after {
    content: '';
    display: block;
    background: url(../images/shape/line_2.png) no-repeat;
    max-width: 110px;
    height: 2px;
    margin-top: 13px;
    margin-bottom: 24px;
}

.reinfo_cta .cta_wrapper .cta_content p {
    color: #fff;
}

.reinfo_cta .cta_wrapper .button_box {
    float: right;
}

.reinfo_cta .cta_wrapper .button_box .reinfo_btn {
    background: #fff;
    color: #011a3e;
}

.reinfo_cta .cta_wrapper .button_box .reinfo_btn:hover,
.reinfo_cta .cta_wrapper .button_box .reinfo_btn:focus {
    color: #fff;
    box-shadow: 2.5px 4.33px 15px 0 #189a36;
    background-color: #67c23a;
}

.reinfo_footer .widget_wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
    background-image: url(/static/images/footer_bg.png);
    /* padding-bottom: 70px; */
    padding-left: 3%;
    padding-right: 3%;
}

.reinfo_footer .widget_wrapper .footer-box {
    display: block;
}

.reinfo_footer .widget_wrapper .widget .widget_title {
    margin-bottom: 30px;
}

.reinfo_footer .widget_wrapper .widget .widget_title h4 {
    font-weight: bold;
    color: #189a36;
    padding-left: 30%;
}

.reinfo_footer .widget_wrapper .widget .widget_title h4:after {
    content: '';
    display: block;
    background: url(../images/shape/line.png) no-repeat;
    max-width: 38px;
    height: 2px;
    margin-top: 5px;
}

.reinfo_footer .widget_wrapper .widegt_about p {
    margin-bottom: 20px;
}

.reinfo_footer .widget_wrapper .widegt_about .social li {
    display: inline-block;
    margin-right: 10px;
}

.reinfo_footer .widget_wrapper .widegt_about .social li a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #86e1ae;
    color: #189a36;
    font-size: 14px;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.reinfo_footer .widget_wrapper .widegt_about .social li a:hover,
.reinfo_footer .widget_wrapper .widegt_about .social li a:focus {
    background-image: -moz-linear-gradient(0deg, #7bc979 0%, #189a36 100%);
    background-image: -webkit-linear-gradient(0deg, #7bc979 0%, #189a36 100%);
    background-image: -ms-linear-gradient(0deg, #7bc979 0%, #189a36 100%);
    color: #fff;
    box-shadow: 2.5px 4.33px 15px 0 rgba(65, 136, 6, 0.4);
}

.reinfo_footer .widget_wrapper .widget_link ul li {
    margin-bottom: 5px;
    padding-left: 30%;
}

.reinfo_footer .widget_wrapper .widget_link ul li a {
    text-transform: capitalize;
    color: #7a808d;
}

.reinfo_footer .widget_wrapper .widget_link ul li a:hover,
.reinfo_footer .widget_wrapper .widget_link ul li a:focus {
    color: #189a36;
}

.reinfo_footer .widget_wrapper .widget_link ul li a:hover .fas {
    color: white;
}

.reinfo_footer .widget_wrapper .widget_contact .contact_info .single_info {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.reinfo_footer .widget_wrapper .widget_contact .contact_info .single_info .icon {
    font-size: 12px;
    color: #fff;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background: #189a36;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    line-height: 35px;
    padding-left: 6px;
}

.reinfo_footer .widget_wrapper .widget_contact .contact_info .single_info .icon .icon-style {
    padding-left: 2px;
}

.reinfo_footer .widget_wrapper .widget_contact .contact_info .single_info .info {
    display: flex;
    align-items: center;
}

.reinfo_footer .widget_wrapper .widget_contact .contact_info .single_info .info p a {
    color: #7a808d;
}

.reinfo_footer .widget_wrapper .widget_contact .contact_info .single_info .info p span {
    display: block;
}

.reinfo_footer .copyright_area {
    background: #edecf0;
    padding: 10px 0;
}

.reinfo_footer .copyright_area .copyright_text {
    text-align: center;
}

.reinfo_footer .copyright_area .copyright_text p {
    color: #011a3e;
}

.reinfo_footer .copyright_area .copyright_text p span {
    color: #189a36;
}

.el-backtop {
    transition: all 0.5s ease-out 0s;
    background-color: #86e1ae !important;
    color: #189a36 !important;
    z-index: 99;
}

.el-backtop:hover,
.el-backtop:focus {
    background-image: -moz-linear-gradient(0deg, #7bc979 0%, #189a36 100%);
    background-image: -webkit-linear-gradient(0deg, #7bc979 0%, #189a36 100%);
    background-image: -ms-linear-gradient(0deg, #7bc979 0%, #189a36 100%);
    color: #fff !important;
}

.reinfo_btn:hover {
    color: #fff;
    box-shadow: 2.5px 4.33px 15px 0 #189a36;
    background-color: #67c23a;
}

.c1 {
    order: 2;
}

.c2 {
    order: 1;
}

.fa-3 {
    font-size: 3em;
    color: #fff;
    margin-right: 15px;
    width: 60px;
    height: 60px;
    background: #189a36;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    line-height: 60px;
}

.fa-1 {
    font-size: 1em;
}

.fa-2 {
    font-size: 2em;
}

.fa-1-5 {
    font-size: 1.5em;
    color: white;
}

.icon-float {
    position: absolute;
    transform: translateX(-130%);
}

@media (min-width: 1900px) {
    .container {
        max-width: 1650px;
    }
}

@media (max-width: 1600px) {
    .container {
        max-width: 1450px;
    }

    .header-area .nav-body .img-logo {
        margin-left: 15px;
    }

}

@media (max-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 1100px;
    }

    .header-area .nav-body {
        justify-content: space-between;
    }

    .header-area .nav-body .img-logo {
        position: relative;
        margin-left: 0;
    }

    .header-area .nav-body .nav-item {
        float: right;
    }

    .header-area .nav-body .nav-item .main-menu li {
        margin: 0 0 0 40px;
    }
}

@media (max-width: 992px) {
    .header-area .nav-body .nav-item {
        display: none;
    }

    .reinfo_about .reinfo_img_box {
        margin-bottom: 60px;
    }

    .reinfo_about .reinfo_content_box {
        margin-left: 0;
    }

    .reinfo_cta .cta_wrapper .button_box {
        float: none;
        text-align: left;
        margin-top: 30px;
    }

    .btn_center {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .reinfo_experience .single_experience:nth-child(even) .reinfo_info_box {
        text-align: center;
    }

    .reinfo_experience .single_experience .reinfo_info_box {
        text-align: center;
    }

    .reinfo_experience .single_experience .align-items-center .num-mid {
        position: relative;
    }

    .reinfo_experience .single_experience .icon {
        margin: 0 auto 40px auto;
    }

    .reinfo_experience .single_experience .icon:before {
        visibility: hidden;
    }

    .reinfo_experience .single_experience .align-items-center .time-line-text {
        display: block;
    }

    .reinfo_cta .cta_wrapper .button_box {
        float: none;
        text-align: center;
        margin-top: 30px;
    }

    .reinfo_footer .widget_wrapper .widget {
        margin-bottom: 40px;
    }

    .reinfo_footer .widget_wrapper .footer-box {
        display: none;
    }


    .icon-float {
        display: none !important;
    }

}


