@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: #7a808d;
    font-size: 15px;
    font-weight: normal;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: #011a3e;
}

h1 {
    font-size: 58px;
    font-weight: 700;
}

h2 {
    font-size: 45px;
    font-weight: 700;
}

h3 {
    font-size: 30px;
    color: #189a36;
    padding-bottom: 10px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.box-padding {
    padding: 30px 3% 40px 3%;
}

/*header-block start*/

.header-area {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: 500ms;
    background: transparent;
    padding: 0 3%;
    z-index: 100;
}

.header-area .nav-body {
    height: 76.5px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.headerMain-bg {
    background: white;
    -webkit-transition: 500ms;
    box-shadow: 2.5px 4.33px 15px 0 rgb(0 0 0 / 15%);
}

.header-area .nav-body .img-logo {
    height: 50px;
    position: absolute;
    left: 0;
    margin-left: 15px;
}

.header-area .nav-body .nav-item ul .active_link:after {
    content: '';
    position: absolute;
    display: flex;
    width: calc(100% - 20px);
    bottom: 10px;
    height: 3px;
    background: #189a36;
}

.header-area .nav-body .nav-item .main-menu li {
    position: relative;
    display: inline-block;
    margin: 0 20px;
}

.header-area .nav-body .nav-item .main-menu li a {
    display: block;
    color: #76787b;
    padding: 17px 10px;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    text-shadow: 0 0 1px #fff, 0 0 1px #fff;
}

.header-area .nav-body .nav-item .main-menu li a:hover {
    color: #189a36;
    box-shadow: 2.5px 4.33px 15px 0 rgb(65 136 6 / 40%);
    border-radius: 8px;
}

.header-area .nav-body .nav-item .main-menu li a:hover .sub-menu {
    max-height: 170px;
}

.header-area .nav-body .nav-item .main-menu li a .sub-menu {
    display: inline-block;
    position: absolute;
    top: 56px;
    left: 0;
    background-color: white;
    border-radius: 8px;
    width: 170px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    box-shadow: 2.5px 4.33px 15px 0 rgb(0 0 0 / 15%);
}

.header-area .nav-body .nav-item .main-menu li a .sub-menu li {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
}

.header-area .nav-body .nav-item .main-menu li a .sub-menu :nth-of-type(1) {
    padding-top: 10px;
}

.header-area .nav-body .nav-item .main-menu li a .sub-menu :last-child {
    padding-bottom: 10px;
}

.header-area .nav-body .nav-item .main-menu li a .sub-menu li a {
    display: block;
    position: relative;
    color: #76787b;
    padding: 5px 10px !important;
    font-weight: 500;
    text-shadow: 0 0 1px #fff, 0 0 1px #fff;
}

/*header-block end*/

/*timeline-block start*/

.timeline {
    overflow: hidden;
}

.timeline .section_title h2 {
    position: relative;
}

.timeline .section_title h2:after {
    left: 80px;
}

.timeline .single_timeline {
    margin-bottom: 55px;
}

.timeline .single_timeline:last-child {
    margin-bottom: 0;
}

.timeline .single_timeline:last-child .icon:before {
    display: none;
}

.timeline .single_timeline:nth-child(even) .info_box {
    text-align: right;
}

.timeline .single_timeline .align-items-center {
    justify-content: center;
}

.timeline .single_timeline .align-items-center .num-mid {
    position: absolute;
}

.timeline .single_timeline .align-items-center .time-line-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timeline .single_timeline .icon {
    position: relative;
    width: 75px;
    height: 75px;
    text-align: center;
    border-radius: 50%;
    background-image: -moz-linear-gradient(180deg, #7bc979 0%, #189a36 100%);
    background-image: -webkit-linear-gradient(180deg, #7bc979 0%, #189a36 100%);
    background-image: -ms-linear-gradient(180deg, #7bc979 0%, #189a36 100%);
    box-shadow: 2.5px 4.33px 15px 0 rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    padding-top: 17px;
}

.timeline .single_timeline .icon:before {
    content: '';
    position: absolute;
    top: 0;
    left: 35px;
    border: 2px dashed #9fa4ab;
    width: 0;
    height: 302px;
    z-index: -1;
}

.timeline .single_timeline .icon:after {
    content: '';
    background-image: -moz-linear-gradient(180deg, #7bc979 0%, #189a36 100%);
    background-image: -webkit-linear-gradient(180deg, #7bc979 0%, #189a36 100%);
    background-image: -ms-linear-gradient(180deg, #7bc979 0%, #189a36 100%);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    opacity: 0.302;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -55px;
    margin-left: -55px;
}

.timeline .single_timeline .icon h3 {
    font-size: 35px;
    color: #fff;
    font-weight: 600;
}


.timeline .single_timeline .info_box h4 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.timeline .single_timeline .info_box h5 {
    color: #7f8693;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 15px;
}

.timeline .single_timeline .info_box h6 {
    font-size: 20px;
    color: #189a36;
    font-weight: 600;
}

.c1 {
    order: 2;
}

.c2 {
    order: 1;
}

/*timeline-block end*/

/*about-block start*/
.about {
    overflow: hidden;
}

.about .content_box {
    margin-left: 20px;
}

.about .content_box h2 {
    margin-bottom: 0;
    position: relative;
}

.about .content_box p {
    padding-bottom: 20px;
}

.about .content_box .all-btn {
    margin-top: 20px;
    min-width: 155px;
}

/*about-block end*/

/*news-block start*/
.news {
    overflow: hidden;
}

/*news-block end*/

/*cta-block start*/
.cta {
}

.cta .cta_wrapper {
    padding: 45px 50px 42px;
    max-width: 970px;
    border-radius: 15px;
    margin: auto;
    position: relative;
    background-image: -moz-linear-gradient(0deg, #7bc979 0%, #189a36 100%);
    background-image: -webkit-linear-gradient(0deg, #7bc979 0%, #189a36 100%);
    background-image: -ms-linear-gradient(0deg, #7bc979 0%, #189a36 100%);
    box-shadow: 2.5px 4.33px 15px 0 rgba(65, 136, 6, 0.4);
    z-index: 1;
}

.cta .cta_wrapper:after {
    content: '';
    background: url(../images/shape/cta_shape.png) no-repeat bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.cta .cta_wrapper .cta_content h3 {
    color: #fff;
    font-weight: bold;
}

.cta .cta_wrapper .cta_content h3:after {
    content: '';
    display: block;
    background: url(../images/shape/line_2.png) no-repeat;
    max-width: 110px;
    height: 2px;
    margin-top: 13px;
    margin-bottom: 24px;
}

.cta .cta_wrapper .cta_content p {
    color: #fff;
}

.cta .cta_wrapper .button_box {
    float: right;
}

.cta .cta_wrapper .button_box .all-btn {
    background: #fff;
    color: #011a3e;
}

.cta .cta_wrapper .button_box .all-btn:hover,
.cta .cta_wrapper .button_box .all-btn:focus {
    color: #fff;
    box-shadow: 2.5px 4.33px 15px 0 #189a36;
    background-color: #67c23a;
}

/*cta-block end*/

/*footer-block start*/

.footer .widget_wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
    background-image: url(../images/footer_bg.png);
    /* padding-bottom: 70px; */
    padding-left: 3%;
    padding-right: 3%;
}

.footer .widget_wrapper .footer-box {
    display: block;
}

.footer .widget_wrapper .widget .widget_title {
    margin-bottom: 30px;
}

.footer .widget_wrapper .widget .widget_title h4 {
    font-weight: bold;
    color: #189a36;
    padding-left: 30%;
}

.footer .widget_wrapper .widget .widget_title h4:after {
    content: '';
    display: block;
    background: url(../images/shape/line.png) no-repeat;
    max-width: 38px;
    height: 2px;
    margin-top: 5px;
}

.footer .widget_wrapper .widegt_about p {
    margin-bottom: 20px;
}

.footer .widget_wrapper .widegt_about .social li {
    display: inline-block;
    margin-right: 10px;
}

.footer .widget_wrapper .widegt_about .social li a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #86e1ae;
    color: #189a36;
    font-size: 14px;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.footer .widget_wrapper .widegt_about .social li a:hover,
.footer .widget_wrapper .widegt_about .social li a:focus {
    background-image: -moz-linear-gradient(0deg, #7bc979 0%, #189a36 100%);
    background-image: -webkit-linear-gradient(0deg, #7bc979 0%, #189a36 100%);
    background-image: -ms-linear-gradient(0deg, #7bc979 0%, #189a36 100%);
    color: #fff;
    box-shadow: 2.5px 4.33px 15px 0 rgba(65, 136, 6, 0.4);
}

.footer .widget_wrapper .widget_link ul li {
    margin-bottom: 5px;
    padding-left: 30%;
}

.footer .widget_wrapper .widget_link ul li a {
    text-transform: capitalize;
    color: #7a808d;
}

.footer .widget_wrapper .widget_link ul li a:hover,
.footer .widget_wrapper .widget_link ul li a:focus {
    color: #189a36;
}

.footer .widget_wrapper .widget_link ul li a:hover .fas {
    color: white;
}

.footer .widget_wrapper .widget_contact .contact_info .single_info {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer .widget_wrapper .widget_contact .contact_info .single_info .icon {
    font-size: 12px;
    color: #fff;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background: #189a36;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    line-height: 35px;
    padding-left: 6px;
}

.footer .widget_wrapper .widget_contact .contact_info .single_info .icon .icon-style {
    padding-left: 2px;
}

.footer .widget_wrapper .widget_contact .contact_info .single_info .info {
    display: flex;
    align-items: center;
}

.footer .widget_wrapper .widget_contact .contact_info .single_info .info p a {
    color: #7a808d;
}

.footer .widget_wrapper .widget_contact .contact_info .single_info .info p span {
    display: block;
}

.footer .copyright_area {
    background: #edecf0;
    padding: 10px 0;
}

.footer .copyright_area .copyright_text {
    text-align: center;
}

.footer .copyright_area .copyright_text p {
    color: #011a3e;
}

.footer .copyright_area .copyright_text p span {
    color: #189a36;
}

.el-backtop {
    transition: all 0.5s ease-out 0s;
    background-color: #86e1ae !important;
    color: #189a36 !important;
    z-index: 99 !important;
}

.el-backtop:hover,
.el-backtop:focus {
    background-image: -moz-linear-gradient(0deg, #7bc979 0%, #189a36 100%);
    background-image: -webkit-linear-gradient(0deg, #7bc979 0%, #189a36 100%);
    background-image: -ms-linear-gradient(0deg, #7bc979 0%, #189a36 100%);
    color: #fff !important;
}

/*footer-block end*/

/*breadcrumb-block start*/
.breadcrumb {
    padding: 215px 3% 175px 3%;
    margin-bottom: 40px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.breadcrumb .breadcrumb_content ul li {
    display: inline-block;
    color: #189a36;
    text-transform: uppercase;
}

.breadcrumb .breadcrumb_content ul li:after {
    content: '\f105';
    font-weight: 900;
    font-family: 'Font Awesome 5 Free', serif;
    margin-left: 10px;
    margin-right: 10px;
}

.breadcrumb .breadcrumb_content ul li:last-child:after {
    display: none;
}

.breadcrumb .breadcrumb_content ul li a {
    text-transform: uppercase;
    color: #189a36;
}

.breadcrumb.banner-hidden {
    overflow: hidden;
}

.breadcrumb .banner-hidden .banner-background-01 {
    height: 85px;
    background: url(../images/banner_001.png) repeat-x;
    position: absolute;
    top: 415px;
    width: 400%;
    left: -236px;
    z-index: 4;
    animation: wave1 25s linear .4s infinite normal;
    -moz-animation: wave1 25s linear .4s infinite normal;
    -webkit-animation: wave1 25s linear .4s infinite normal;
    -o-animation: wave1 25s linear .4s infinite normal;
}

.breadcrumb .banner-hidden .banner-background-02 {
    height: 100px;
    background: url(../images/banner_001.png) repeat-x;
    position: absolute;
    top: 400px;
    width: 400%;
    left: 0;
    z-index: 3;
    animation: wave2 60s linear .4s infinite normal;
    -moz-animation: wave2 60s linear .4s infinite normal;
    -webkit-animation: wave2 60s linear .4s infinite normal;
    -o-animation: wave2 60s linear .4s infinite normal
}

@-webkit-keyframes wave1 {
    from {
        left: -236px
    }
    to {
        left: -1233px
    }
}

@-moz-keyframes wave1 {
    from {
        left: -236px
    }
    to {
        left: -1233px
    }
}

@-o-keyframes wave1 {
    from {
        left: -236px
    }
    to {
        left: -1233px
    }
}

@keyframes wave1 {
    from {
        left: -236px
    }
    to {
        left: -1233px
    }
}

@-webkit-keyframes wave2 {
    from {
        left: 0
    }
    to {
        left: -1009px
    }
}

@-moz-keyframes wave2 {
    from {
        left: 0
    }
    to {
        left: -1009px
    }
}

@-o-keyframes wave2 {
    from {
        left: 0
    }
    to {
        left: -1009px
    }
}

@keyframes wave2 {
    from {
        left: 0
    }
    to {
        left: -1009px
    }
}

/*breadcrumb-block end*/

/*introduce-block start*/
.introduce {

}

/*introduce-block end*/

/*information-block start*/
.information {
    padding-bottom: -20px;
    position: relative;
    z-index: 6;
}

.information p {
    margin-bottom: 20px;
    padding-left: 8px;
}

.information .line i {
    font-size: 1em;
    padding-left: 8px;
}

.information .line h4 {
    color: #189a36;
}

.information a {
    color: #7a808d;
}

.information .line p {
    margin-top: 15px;
    margin-left: 5px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #189a36;
}

/*information-block end*/

/*boss-message-block start*/
.boss-message .award_box {
    display: flex;
    flex-wrap: wrap;
    float: right;
}

.boss-message .award_box .award_info h4 {
    font-weight: bold;
    color: #189a36;
    font-size: 20px;
}

.boss-message .award_box .award_info .sign-img {
    height: 100px;
}

/*boss-message-block end*/

/*category-block start*/
.category .category-box {
    min-height: 555px;
    padding: 35px;
    text-align: center;
    border-radius: 8px;
    background-color: white;
    box-shadow: 2.5px 4.33px 15px 0 rgba(0, 0, 0, 0.15);
    border: 3px dashed #fff;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.category .category-box:hover {
    border-color: #189a36;
    box-shadow: 5px 8.66px 24px 0 rgba(0, 0, 0, 0.15);
}

.category .category-box .icon {
    margin-bottom: 30px;
}

.category .category-box .title {
    margin-bottom: 30px;
}

.category .category-box .title h3 {
    font-weight: bold;
    color: #011a3e;
}

.category .category-box .list {
    margin-bottom: 25px;
}

.category .category-box .price {
    margin-bottom: 25px;
}

.category .category-box .price h2 {
    font-size: 40px;
}

.category .category-box .price h2 span {
    font-size: 20px;
    color: #189a36;
}

.category .category-box .button_box .all-btn {
    min-width: 158px;
}

.category .section_title h2 {
    position: relative;
}

.category .section_title h2:after {
    left: 40px;
}

.category .category-box li {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*category-block end*/

/*service-page start*/
.battery-left-item-h5 {
    margin: 0;
    width: 450px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px solid;
    border-image: linear-gradient(90deg, #06abe0, #4aba78, #93cb08) 10 10 10;
    line-height: 30px;
    white-space: nowrap;
}

.battery-left-item-h5 h5 {
    margin-bottom: 10px;
}

.battery-left-item {
    line-height: 30px;
    margin-top: 85px;
    margin-bottom: 100px;
}

.battery-left-item img {
    height: 100%;
}

.battery-left-item-box {
    height: 32px;
    margin: 16px 0;
    width: 100%;
}

.battery-left-item-box_v1 {
    height: 32px;
    margin: 16px 0;
    padding-left: 15%;
    width: 100%;
}

.battery-left-item-box_v2 {
    height: 87px;
    margin: 16px 0 0 0;
    padding-left: 35%;
    width: 100%;
}

.battery-left-item-box_v2 img:nth-child(1) {
    margin-right: 15px;
}

.battery-left-box {
    width: 45%;
}

.battery-right-box {
    width: 55%;
}

.pdf-View {
    height: 750px;
    box-shadow: 2.5px 4.33px 15px 0 rgb(0 0 0 / 15%);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 8px;
}

.pdf-View iframe {
    border-radius: 8px;
}

.ap_logo {
    width: 30%;
    margin: 30px 0;
}

.management-img {
    width: 60%;
    margin: 30px 0 0 0;
}

.img-content {
    text-align: center;
}

.battery-img-center {
    width: 100%;
    margin: auto 13% 0;
}

/*service-page end*/

/*access-page start*/
.access_margin_v1 {
    margin-bottom: 20px;
}

.access h4 {
    padding: 10px 0;
}

.access p {
    padding-left: 18px;
    line-height: 28px;
}

.access i {
    padding-right: 10px;
    color: #189a36;
}

.map-marker {
    margin-top: -5px;
    padding-bottom: 15px;
}

.map_size {
    width: 100%;
    height: 600px;
    border: 0;
}

#map {
    box-shadow: 2.5px 4.33px 15px 0 rgba(65, 136, 6, 0.4);
    border-radius: 8px;
}

/*access-page end*/

/*contact-page start*/
.reinfo_contact {
    position: relative;
}

.reinfo_contact .contact_form .form_group {
    margin-bottom: 30px;
}

.reinfo_contact .contact_form .form_group .form_control {
    border-radius: 8px;
    width: 100%;
    height: 45px;
    background: #fff;
    padding-left: 20px;
    box-shadow: 2.5px 4.33px 15px 0 rgba(0, 0, 0, 0.15);
}

.reinfo_contact .contact_form .form_group textarea {
    padding-top: 20px;
    min-height: 145px;
}

.reinfo_contact .contact_form .button_box .reinfo_btn {
    min-width: 170px;
}

.contact_v1 {
    padding-bottom: 130px;
    margin-bottom: 40px;
    z-index: 1;
}

.contact_v1:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 100px;
    background: url(../images/shape/shape_7.png) no-repeat;
    background-position: bottom left;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.contact_v1 .section_title h2 {
    position: relative;
}

.contact_v1 .section_title h2:after {
    left: -20px;
}

.cantact_v2 .section_title h2 {
    position: relative;
}

.cantact_v2 .section_title h2:after {
    left: -30px;
}

.cantact_v2 .section_title {
    margin: 0;
    /* margin-bottom: 40px; */
}

.cantact_v2 .contact_form .form_group select {
    border-radius: 30px;
    width: 100%;
    height: 45px;
    background: #fff;
    padding-left: 20px;
    box-shadow: 2.5px 4.33px 15px 0 rgba(0, 0, 0, 0.15);
}

.cantact_v2 .contact_form .form_group select option {
    max-width: 300px;
}

.col-lg-12 > .active {
    background-image: -moz-linear-gradient(180deg, #7bc979 0%, #189a36 100%);
    background-image: -webkit-linear-gradient(180deg, #7bc979 0%, #189a36 100%);
    background-image: -ms-linear-gradient(180deg, #7bc979 0%, #189a36 100%);
    box-shadow: 2.5px 4.33px 15px 0 #189a36;
    color: #fff;
}

.section_title > div {
    height: 150px;
    box-shadow: 2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.15);
    margin-right: 8px;
    border-radius: 8px;
    /* background-color: #f7f7f7; */
    float: left;
    clear: both;
}

.item_center_v1 {
    width: 30%;
    white-space: nowrap;
    text-align: center;
    margin: 30px 0;
}

.item_center_v2 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    margin: 10px 0;
}

.cantact_box_margin_top {
    margin-top: 25px;
}

.re_contact_step_body {
    margin: 0 auto;
}

.el-form-item__label {
    margin-bottom: 0;
}

.el-form-item__label:before,
.el-checkbox:before {
    content: '必須' !important;
    color: #fff !important;
    margin-right: 4px !important;
    background-color: #d82531 !important;
    padding: 5px 5px !important;
    border-radius: 3px !important;
    margin-right: 10px !important;
}

label[for=fax]:before,
label[for=companyName]:before,
label[for=departmentName]:before,
label[for=positionName]:before,
label[for=address]:before {
    opacity: 0;
    display: none;
}

.re_contact_step_body .is-process {
    color: #189a36 !important;
}

.el-checkbox__label {
    vertical-align: -1px;
}

.el-step__head.is-finish {
    color: #189a36 !important;
}

.el-step__title.is-finish {
    color: #189a36 !important;
}

.re_contact_form_3 {
    display: flex;
}

.re_contact_form_- {
    padding: 0 5px;
}

.re_contact_form_agree_content_title {
    cursor: pointer;
    display: inline-block;
}

.re_contact_form_agree_content {
    text-align: left;
    padding: 20px;
    height: 230px;
    overflow: auto;
    border: 1px solid #ccc;
}

.re_contact_form_agree_content::-webkit-scrollbar-track-piece {
    background: #eee;
}

.re_contact_form_agree_content::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.re_contact_form_agree_content::-webkit-scrollbar-thumb {
    height: 40px;
    border-radius: 4px;
    background-color: #a5a5a5;
}

.re_contact_form_agree_content::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}

.re_contact_form_agree_content h5 {
    font-size: 16px;
    font-weight: bold;
}

.re_contact_form_check_body {
    margin: 40px auto 100px auto;
}

.re_contact_form_check_table {
    width: 100%;
    margin-bottom: 60px;
}

.re_contact_form_check_table td {
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 160px;
}

.reinfo_back {
    display: inline-block;
    min-width: 130px;
    height: 45px;
    color: #6a6969;
    font: 500 15px 'Poppins', sans-serif;
    text-align: center;
    background: #bec3bf61;
    line-height: 45px;
    border-radius: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.reinfo_back:hover {
    box-shadow: 2.5px 4.33px 15px 0 rgba(99, 238, 7, 0.15);
    background-color: #6ba051;
}

.re_contact_form_check_title {
    width: 25%;
    background: #f1f1f1;
}

.re_contact_form_send_ok_body {
    margin: 60px auto 100px auto;
}

.re_contact_form_send_ok_ico {
    font-size: 66px;
    padding-bottom: 20px;
    color: #67c23a;
}

.re_contact_text {
    margin: 20px auto;
}

.re_contact_text a {
    color: #189a36;
}

.tc {
    text-align: center;
}

input[type=button] {
    padding: 0 10px;
}

input[type=button]:hover,
.reinfo_btn:hover {
    box-shadow: 2.5px 4.33px 15px 0 rgba(99, 238, 7, 0.15);
    background-color: #67c23a;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #189a36 !important;
    border-color: #189a36 !important;
}

.el-checkbox__input.is-focus .el-checkbox__inner {
    background-color: #189a36 !important;
    border-color: #189a36 !important;
}

.el-checkbox__inner:hover {
    border-color: #189a36 !important;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
    color: #189a36 !important;
}

.checkbox__label:hover {
    color: #189a36 !important;
}

.cantact_box_margin_top {
    margin-top: 25px;
}

.el-radio__input.is-checked .el-radio__inner {
    border-color: #189a36 !important;
    background: #189a36 !important;
}

.el-radio__input.is-checked + .el-radio__label {
    color: #189a36 !important;
}

.el-radio {
    --el-radio-input-height: 20px !important;
    --el-radio-input-width: 20px !important;
}

.el-radio-group {
    display: inline-block !important;
    line-height: inherit !important;
    vertical-align: inherit !important;
}

.el-radio__inner::after {
    width: 10px !important;
    height: 10px !important;
}

.el-checkbox__inner {
    height: 20px !important;
    width: 20px !important;
    --el-checkbox-input-height: 20px !important;
    --el-checkbox-input-width: 20px !important;
}

.el-checkbox__inner::after {
    height: 11px !important;
    left: 7px !important;
}

.el-input {
    --el-input-focus-border: #189a36 !important;
}

.el-select .el-input__inner:focus {
    border-color: #189a36 !important;
}

.el-select-dropdown__item.selected {
    color: #189a36 !important;
}

.el-select {
    width: 100%;
}

.re_contact_body {
    padding-top: 0;
    width: 100%;
}

.re_contact_h2 {
    font-size: 22px;
    font-weight: bold;
}

.re_contact_h5 {
    font-size: 14px;
}

.re_contact_step_body {
    margin: 0 auto;
}

.re_contact_form_body {
    margin: 0 auto;
}

.re_contact_form_body {
    margin-top: 15px;
    padding-bottom: 10px;
}

.re_contact_form_3 {
    display: flex;
}

.re_contact_form_- {
    padding: 0 5px;
}

.re_contact_form_agree_content_title {
    cursor: pointer;
    display: inline-block;
}

.re_contact_form_agree_content {
    text-align: left;
    padding: 20px;
    height: 230px;
    overflow: auto;
    border: 1px solid #ccc;
}

.re_contact_form_agree_content::-webkit-scrollbar-track-piece {
    background: #eee;
}

.re_contact_form_agree_content::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.re_contact_form_agree_content::-webkit-scrollbar-thumb {
    height: 40px;
    border-radius: 4px;
    background-color: #a5a5a5;
}

.re_contact_form_agree_content::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}

.re_contact_form_agree_content h5 {
    font-size: 16px;
    font-weight: bold;
}

.re_contact_form_check_body {
    margin: 40px auto 100px auto;
}

.re_contact_form_check_table {
    width: 100%;
    margin-bottom: 60px;
}

.re_contact_form_check_table td {
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 160px;
}

.reinfo_back {
    display: inline-block;
    min-width: 130px;
    height: 45px;
    color: #6a6969;
    font: 500 15px 'Poppins', sans-serif;
    text-align: center;
    background: #bec3bf61;
    line-height: 45px;
    border-radius: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.reinfo_back:hover {
    box-shadow: 2.5px 4.33px 15px 0 rgba(99, 238, 7, 0.15);
    background-color: #6ba051;
}

.re_contact_form_check_title {
    width: 25%;
    background: #f1f1f1;
}

.re_contact_form_send_ok_body {
    margin: 60px auto 100px auto;
}

.re_contact_form_send_ok_ico {
    font-size: 66px;
    padding-bottom: 20px;
    color: #67c23a;
}

.re_contact_text {
    margin: 20px auto;
}

.re_contact_text a {
    color: #189a36;
}

.el-backtop {
    background-image: -moz-linear-gradient(0deg, #7bc979 0%, #189a36 100%);
    background-image: -webkit-linear-gradient(0deg, #7bc979 0%, #189a36 100%);
    background-image: -ms-linear-gradient(0deg, #7bc979 0%, #189a36 100%);
    color: #fff !important;
    box-shadow: 2.5px 4.33px 15px 0 rgba(65, 136, 6, 0.4);
    z-index: 99;
}

.el-backtop:hover,
.el-backtop:focus {
    background-image: -moz-linear-gradient(0deg, #7bc979 0%, #8fd39f 100%);
    background-image: -webkit-linear-gradient(0deg, #7bc979 0%, #8fd39f 100%);
    background-image: -ms-linear-gradient(0deg, #7bc979 0%, #8fd39f 100%);
    color: #fff;
    box-shadow: 2.5px 4.33px 15px 0 rgba(65, 136, 6, 0.4);
}

.reinfo_btn:hover {
    color: #fff !important;
    box-shadow: 2.5px 4.33px 15px 0 #189a36 !important;
    background-color: #67c23a !important;
}

.re_contact_tite_img_body {
    padding-top: 80px;
    text-align: center;
    padding-bottom: 30px;
    min-height: calc(100vw * 0.1562);
    max-height: 597px;
}

.re_contact_tite_img {
    max-width: 100%;
}

.phone_input_item {
    width: 33%;
}

.re_contact_form_check_content.type_content {
    white-space: pre-wrap;
}

.el-form-item__content {
    display: block !important;
    line-height: 40px !important;
    font-size: 14px !important;
}

.el-input__inner {
    height: 40px !important;
}


/*contact-page end*/

/****TABLE CSS START**/

.subbox table {
    /* max-width: 800px; */
    margin: 10px auto;
    border-spacing: 0;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}

.subbox td {
    padding: 8px 16px;
    border: 1px solid #f4f4f4;
}

.subbox tbody tr td:nth-child(1) {
    background: #efefef;
}

.subbox th {
    padding: 16px;
}

.subbox img {
    width: 40px;
    border-radius: 50%;
}

.subbox tbody > tr:hover {
    background-color: #9bca9e;
}

.subbox thead {
    text-transform: uppercase;
    background-color: #009538;
    letter-spacing: 0.5px;
    color: #fff;
}

.subbox thead td {
    border: 1px solid #f4f4f4;
}

.option {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ddd;
    border-radius: 4px;
    margin-right: 15px;
}

.name {
    min-width: 110px;
    display: inline-block;
}

.comment {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    display: inline-block;
}

.option.is-blue {
    background-color: #bceefd;
}

.option.is-orange {
    background-color: #ffd89e;
}

.option.is-purple {
    background-color: #e9cbff;
}

.option.is-green {
    background-color: #bef1a9;
}

/**img**/

img.animated {
    animation: filter-animation 5s infinite;
    border-radius: 8px;
}

@keyframes filter-animation {
    0% {
        filter: sepia(0) saturate(2);
    }
    50% {
        filter: sepia(1) saturate(8);
    }
    100% {
        filter: sepia(0) saturate(2);
    }
}

.img-200K {
    width: 35%;
}

.align-center {
    text-align: center;
}


/****TABLE CSS END  **/


/*共通パーツ start*/

.section_title {
    margin-bottom: 55px;
}

.section_title > div {
    height: 150px;
    box-shadow: 2.5px 4.33px 15px 0 rgba(0, 0, 0, 0.15);
    margin-right: 20px;
    border-radius: 8px;
    float: left;
    clear: both;
}

.section_title span {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    line-height: 160px;
}

.section_title i {
    margin-top: 0;
    font-size: 2rem;
}

.section_title p {
    font-size: 15px;
    color: #7a808d;
    line-height: 20px;
}

.section_title h2 {
    margin-bottom: 14px;
    position: relative;
    padding-right: 45px;
}

.box-background1, .box-background2 {
    padding-bottom: -20px;
    position: relative;
    z-index: 6;
}

.box-background1:after, .box-background2:after {
    position: absolute;
    content: '';
    left: 0;
    top: 40px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../images/shape/shape_10.png) no-repeat top left;
}

.box-background2:after {
    background: url(../images/shape/shape_7.png) no-repeat top right;
}

.all-btn {
    display: inline-block;
    min-width: 130px;
    height: 45px;
    color: #fff;
    font: 500 15px 'Poppins', sans-serif;
    text-align: center;
    background: #189a36;
    line-height: 45px;
    border-radius: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.all-btn:hover {
    color: #fff;
    box-shadow: 2.5px 4.33px 15px 0 #189a36;
    background-color: #67c23a;
}

.text_box {
    position: relative;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2.5px 4.33px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.text_box:hover {
    background-image: -moz-linear-gradient(180deg, #7bc979 0%, #189a36 100%);
    background-image: -webkit-linear-gradient(180deg, #7bc979 0%, #189a36 100%);
    background-image: -ms-linear-gradient(180deg, #7bc979 0%, #189a36 100%);
    box-shadow: 2.5px 4.33px 15px 0 #189a36;
}

.text_box:hover p {
    color: #fff;
}

.fa {
    padding-right: 10px;
    color: #189a36;
}

.fa-1 {
    font-size: 1em;
}

.fa-2 {
    font-size: 2em;
}

.fa-3 {
    font-size: 3em;
    color: #fff;
    margin-right: 15px;
    width: 60px;
    height: 60px;
    background: #189a36;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    line-height: 60px !important;
}

.fa-1-5 {
    font-size: 1.5em;
    color: white;
}

.icon-float {
    position: absolute;
    transform: translateX(calc(-100% - 10px));
}

.time-line-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*共通パーツ end*/

@media (min-width: 1900px) {
    .container {
        max-width: 1650px;
    }
}

@media (max-width: 1600px) {
    .container {
        max-width: 1450px;
    }

    .header-area .nav-body .img-logo {
        margin-left: 15px;
    }

}

@media (max-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 1100px;
    }

    .header-area .nav-body {
        justify-content: space-between;
    }

    .header-area .nav-body .img-logo {
        position: relative;
        margin-left: 0;
    }

    .header-area .nav-body .nav-item {
        float: right;
    }

    .header-area .nav-body .nav-item .main-menu li {
        margin: 0 0 0 40px;
    }

    .item_center_v1 {
        width: 100%;
    }

    .reinfo_contact .contact_form {
        justify-content: space-around;
        margin-bottom: 0;
    }

    .section_title > div {
        height: 95px;
        margin: 10px 0;
    }
}

@media (max-width: 992px) {
    .header-area .nav-body .nav-item {
        display: none;
    }

    .about .content_box {
        margin-left: 0;
    }

    .boss-message .content_box {
        margin-left: 0;
    }

    .cta .cta_wrapper .button_box {
        float: none;
        text-align: left;
        margin-top: 30px;
    }

    .btn_center {
        text-align: center;
    }

    .img_box {
        margin-bottom: 40px;
    }

    .battery-left-item-box {
        height: 20px !important;
        margin: 5px 0 !important;
    }

    .battery-left-item-box_v1 {
        height: 20px !important;
        padding-left: 8% !important;
        margin: 5px 0 !important;
    }

    .battery-left-item-box_v2 {
        height: 57px !important;
        padding-left: 16% !important;
        margin: 8px 0 !important;
    }

    .battery-left-item {
        line-height: 28px;
        margin-top: 65px !important;
        margin-bottom: 35px !important;
    }

    .first-img-pc {
        margin-top: 0 !important;
    }

    .cantact_v2 .section_title {
        justify-content: space-around;
    }

    .item_center_v2 > span {
        font-size: 15px;
        line-height: 15px;
    }

}

@media (max-width: 767px) {
    .box-padding {
        padding: 0 3% 60px 3%;
    }

    .header-area .nav-body .img-logo {
        height: 40px;
    }

    .timeline .single_timeline:nth-child(even) .info_box {
        text-align: center;
    }

    .timeline .single_timeline .info_box {
        text-align: center;
        margin-bottom: 40px;
    }

    .timeline .single_timeline .align-items-center .num-mid {
        position: relative;
    }

    .timeline .single_timeline .icon {
        margin: 0 auto 40px auto;
    }

    .timeline .single_timeline .icon:before {
        visibility: hidden;
    }

    .timeline .single_timeline .align-items-center .time-line-text {
        display: block;
    }

    .cta .cta_wrapper .button_box {
        float: none;
        text-align: center;
        margin-top: 30px;
    }

    .footer .widget_wrapper .widget {
        margin-bottom: 40px;
    }

    .footer .widget_wrapper .footer-box {
        display: none;
    }

    .breadcrumb .breadcrumb_content h1 {
        font-size: 36px;
    }

    .breadcrumb {
        padding: 76.5px 3% 45px 3%;
        margin-bottom: 60px;
    }

    .banner-hidden {
        display: none;
    }

    .category .category-box li {
        -webkit-line-clamp: 12;

    }

    .icon-float {
        display: none !important;
    }

    .pdf-View {
        height: 265px !important;
    }

    .battery-left-item {
        margin-left: 0 !important;
    }

    .battery-left-item-box {
        height: 22px !important;
        margin: 15px 0 !important;
    }

    .battery-left-item-box_v1 {
        height: 22px !important;
        margin: 15px 0 !important;
        padding-left: 20% !important;
    }

    .battery-left-item-box_v2 {
        height: 60px !important;
        padding-left: 40% !important;
        margin: 15px 0 !important;
    }

    .battery-box-img {
        margin-left: 5% !important;
    }

    .battery-left-box {
        width: 35% !important;
    }

    .battery-right-box {
        width: 65% !important;
    }

    .battery-left-item {
        height: 150px;
        margin: 50px 0 !important;
    }

    .battery-left-item-h5 {
        position: absolute;
        top: -40px;
        margin: auto !important;
        width: 340px !important;
    }

    .battery-left-item-p {
        white-space: normal !important;
        position: absolute;
        bottom: -100px;
    }

    .battery-padding-top {
        padding-top: 45px !important;
    }

    .battery-padding-bottom {
        padding-bottom: 130px !important;
    }

    .management-img {
        width: 100% !important;
    }

    .map_size {
        width: 100%;
        height: 350px;
        border: 0;
    }

    .hide-line {
        display: none;
    }

    .item_center_v2 {
        display: block;
        margin: 0;
    }

    .item_center_v2 > span {
        font-size: 11px;
        line-height: 11px;
    }

    .fa-3 {
        margin: 10px 0 !important;
        width: 45px;
        height: 45px;
        line-height: 45px !important;
    }

    .section_title i {
        font-size: 1.5rem;
    }
}

@media (max-width: 499px) {
    .battery-left-item-box {
        height: 20px !important;
    }

    .battery-left-item-box_v1 {
        height: 20px !important;
        padding-left: 10% !important;
    }

    .battery-left-item-box_v2 {
        height: 55px !important;
        padding-left: 20% !important;
    }

    .battery-left-item-p {
        position: absolute;
        bottom: -130px;
    }

    .battery-left-item {
        height: 150px;
        margin: 60px 0 20px 0 !important;
    }

    .battery-box-img {
        margin-left: 0 !important;
    }

    .battery-left-box {
        width: 45% !important;
    }

    .battery-right-box {
        width: 55% !important;
    }

    .battery-margin {
        padding-bottom: 0 !important;
    }

    .subbox table {
        font-size: 3vw;
    }

    .fs19 {
        font-size: 19px !important;
    }

    .battery-padding-bottom {
        padding-bottom: 160px !important;
    }

    .little-padding-bottom {
        padding-bottom: 30px !important;
    }

    label[for=fax]:before {
        display: none;
    }

    label[for=companyName]:before {
        display: none;
    }

    label[for=departmentName]:before {
        display: none;
    }
}

